.hero_img {
  position: relative;
}
.hero_img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* height: 50px; */
  background-image: linear-gradient(
    to bottom,
    rgba(225, 225, 225, 0),
    rgba(225, 225, 225)
  );
}
